*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}

@media (min-width:1200px){
/* nav导航栏 */
.navbar{
    height: 60px;
    position: fixed;
    z-index: 2;
}
.navbar a{
    color: #fff;
}
.navbar li{
    width: 100px;
    line-height: 60px;
    font-size: 15px;
}
.navbar .brand{
    float: left;
}
.navbar .brand img{
    height: 60px;
}
.navbar ul{
    float: right;
    width: 500px;
    overflow: hidden;
}
.navbar .con{
    width: 250px;
    overflow: hidden;
    float: left;
}
.nav-main{
    width: 80%;
    margin: 0 auto;
}
.navbar .active{
    background-color: #000;
    display: none;
}





/* 搜索框 */




.bg{
    background-image: url('../image/adver.jpg');
    height: 18%;
    padding: 200px;
    display: none;
    background-size: 100% 100%;
    overflow: hidden;
}
.bg input{
    border: none;
    float: left;
}
.bg form{
    width: 500px;
    overflow: hidden;
    margin: 50px auto;
    border-radius: 5px;
}
.bg .seach{
    width: 80%;
    height: 45px;
    float: left;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    text-indent: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
}
.bg .seach:focus{
    background-color: #fff;
}
.bg .seach::-webkit-input-placeholder{
    color: #333;
    font-size: 15px;
}
.bg .sub{
    width: 20%;
    height: 45px;
    float: right;
    background-color: rgba(0,0,0, 0.9);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.bg .sub:hover{
    background-color: #000;
}


/* 旅游推荐 */




.content{
    margin: 50px auto;
    width: 1200px;
}
.content h1,.content p{
    color: #666666;
    margin: 20px;
    text-align: center;
    line-clamp: 2;
}
.content ul{
    width: 1135px;
    overflow: hidden;
    margin: 0 auto;
}
.content ul>li{
    width: 330px;
    display: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 18px;
}
.tra{
    width: 330px;
    overflow: hidden;
    position: relative;
    height: 198px;
}
.content ul li a{
    font-size: 15px;
    display: block;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #666;
}
.content ul li a b{
    color: #000;
}
.content .place{
    position: absolute;
    display: block;
    text-align: center;
    background-color: seagreen;
    color: #fff;
    width: 100px;
    font-size: 15px;
    border-radius: 0 0 3px 0;
    top: 5px;
}
.content .the-ma{
    position: absolute;
    color: #fff;
    font-weight: bold;
    left: 39%;
    top: 42%;
    z-index: -1;
}
.content ul li img{
    width: 330px;
    position: absolute;
    display: block;
    transition: 1s;
}
.content .left{
    color: #ff6602;
    float: left;
    font-size: 25px;
    font-weight: bold;
}
.content .right{
    float: right;
    color: #666;
    font-size: smaller;
    margin-top: 6px;
}









/* 脚部 */











footer .footer-top{
    background-color: #222222;
    color: #fff;
    padding: 10px;
}
footer ul li h3{
    padding-bottom: 5px;
    border-bottom: 1px dotted #666;
}
footer ul li a{
    color: #666;
    display: block;
    font-size: 13px;
    margin-top: 5px;
}
footer .footer-top ul{
    overflow: hidden;
    margin: 0 auto;
    width: 1000px;
}
footer .footer-top ul li{
    margin-right:130px;
    width: 222px;
}
footer .footer-top ul li:nth-child(3){
    margin-right: 0;
}
footer .footer-bot{
    background-color: #000;
    height: 50px;
    color: #666;
    line-height: 50px;
    font-size: 13px;
}









/* 旅游资讯 */









.bg-main{
    background-image: url('../image/headline.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.bg-main .cont-middle{
    width: 70%;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
}
.bg-main .cont-middle h1{
    margin: 100px 0  0;
    font-size: 60px;
}




















/* 02内容部分 */








.main{
    width: 100%;
    background-color: #eee;
    margin: 0 auto;
}
.content-main{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}
.content-left{
    width: 69%;
    float: left;
}
.content-left ul{
    overflow: hidden;
}
.content-left>h3{
    color: #666;
    font-size: 30px;
    padding: 20px 0;
    border-bottom:1px dashed #666; 
}
.content-left ul li .con-left-pic img{
    width: 270px;
    display: block;
    transition: 2s;
}
.content-left ul .nice{
    overflow: hidden;
    position: relative;
    width: 700px;
    background-image: url('../image/disc.png');
    background-repeat: no-repeat;
    background-position: 650px 0px; 
    background-color: #fff;
    margin:20px 0;
}
.content-left ul li .con-left-pic{
    float: left;
    width:250px;
    overflow: hidden; 
    position: relative;
}
.content-left ul li .con-left-tex{
    float: right;
    width: 62%;
    padding-top: 8px;
    position: relative;
}
.content-left .con-left-tex .text-left{
    width: 60%;
    float: left;
    font-size: 10px;
    color: #666;
}
.content-left .con-left-tex .text-left i{
    color: green;
    font-style: normal;
    border:1px solid green;
    border-radius: 2px;
    padding: 1px;
}
.content-left .con-left-tex .text-left p{
    margin: 12px 0;
}
.text-main{
    overflow: hidden;
}
.content-left .con-left-tex .text-right{
    float: right;
    width: 40%;
    text-align: center;
}
.text-right p>b{
    font-size: 25px;
    color: #ff6602;
}
.text-right .buy{
    width: 80px;
    height: 40px;
    border: none;
    background-color: #ff6602;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.con-left-tex p{
    font-size: 10px;
}
.con-left-tex>p>b{
    color: green;
}
.con-left-pic .mar{
    width: 80px;
    height: 20px;
    border-radius: 0 0 3px 0;
    position: absolute;
    line-height: 20px;
    background-color: green;
    color: #fff;
    top: 0;
    font-size: 10px;
}
.nice>b{
    position: absolute;
    transform: rotate(45deg);
    top:10px;
    right: 0;
    color: #ff6602;
    font-size: 3px;
}
.add-all{
    width: 200px;
    height: 30px;
    background-color: #fff;
    border:1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
}









/* 导航 */


.content-right{
    width: 30%;
    float: right;
    margin-top: 20px;
}
.content-right .con-right-top,.con-right-middle,.con-right-bot{
    border: 1px solid #eee;
    background-color: #fff;
    color: #666;
}
.content-right h3,.con-right-middle h3,.con-right-bot h3{
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.con-right-top ul li{
    width: 100px;
    font-size: 10px;
    font-weight: bold;
    background-color: #eee;
    height: 30px;
    font-weight: normal;
    line-height: 30px;
    text-indent: 1em;
    cursor: pointer;
    margin: 0px 0 5px 5px;
}
.con-right-top ul li:hover{
    background-color: green;
    color: #fff;
}
.con-right-top ul{
    overflow: hidden;
    padding: 5px;
}
.con-right-middle ul li{
    margin: 5px;
    font-size: 13px;
    text-align: center;
}
.con-right-middle ul li:nth-child(1n){
    margin-left: 0;
}
.con-right-middle ul li:nth-child(2n){
    margin-right: 0;
}
.con-right-middle ul{
    overflow: hidden;
    padding: 8px;
}
.con-right-bot ul li{
    font-size: 10px;
    height: 20px;
    width: 120px;
    background-color: #eee;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}
.con-right-bot ul li img{
    width: 20px;
    display: block;
    float: left;
}
.con-right-bot ul{
    overflow: hidden;
    margin: 0 auto;
    width: 280px;
}
.con-right-bot ul li b{
    line-height: 20px;
}
.con-right-bot,.con-right-top,.con-right-middle{
    margin: 20px 0;
}





/* 03con */










.content-left span{
    font-size: 13px;
    text-align: center;
    color: #666;
    margin-right: 5px;
    display: inline-block;
}
.content-left .form-group{
    width: 640px;
}
.content-left .form-group input{
    border:1px solid #ccc;
    text-indent: 1em;
    outline: none;
    height: 30px;
    width: 210px;
    margin: 10px;
    border-radius: 5px;
}
.input-buy{
    margin-top: 10px;
    overflow: hidden;
}
.content-left form{
    float: left;
}
.content-left form label{
    color: #666;
    font-size: 15px;
}
.content-left span{
    display: inline-block;
    padding:5px;
}
.content-left .action{
    background-color: green;
    border-radius: 5px;
    color: #fff;
}
.content-left .buy-plan{
    width: 80px;
    height: 80px;
    margin-top: 40px;
    background-color: #ff6602;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.content-left table{
    width: 100%;
    text-align: center;
    height: 500px;
    border: 1px solid #ccc;
    margin-top: 30px;
    border-collapse: collapse;
}
.content-left table button{
    border:none;
    width: 80px;
    height: 30px;
    background-color: #ff6602;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.content-left table thead tr{
    height: 50px;
}
.content-left tr:nth-child(2n){
    background-color: #fff;
}
.content-left tr{
    border: 1px solid #ccc;
}
.content-left .btn{
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: #666;
    cursor: pointer;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
}











/* 004 */












.content-left .con-pic{
    background-color: transparent;
    overflow: hidden;
    float: left;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    color: #666;
}
.content-left ul .con-pic img{
    width: 200px;
}



/* 05 */






.content-left>p{
    margin: 20px 0;
    color: #666;
    letter-spacing: 2px;
    line-height: 30px;
}

.btn-menu{
    display: none;
}
}




